# Rules
--decimalgrouping 3,4
--guardelse same-line
--indent tab
--stripunusedargs unnamed-only

# Disabled Rules
--disable blankLinesAroundMark
--disable blankLinesAtEndOfScope
--disable blankLinesAtStartOfScope
--disable strongOutlets
--disable wrapMultilineStatementBraces

# Opt-in Rules
--enable acronyms

# Files
--exclude **/*generated.swift
--exclude **/fastlane
--exclude Packages
--exclude Pods
--exclude Supporting
--exclude vendor
